In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [55]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

X = df_train[list(set(df_train.columns.tolist()) - {'churn'})]
Y = df_train['churn']

In [56]:
X.columns
X = X.iloc[:,[0,1,8,9,11,15]]

In [57]:
mapping = {'yes': 1, 'no': 0}
X['international_plan'] = X.iloc[:, 3].map(mapping)

In [58]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size = 0.1, random_state = 11, shuffle = True)

In [62]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

clf = RandomForestClassifier()

clf.fit(Xtrain, Ytrain)
predicted = clf.predict(Xtest)

accuracy_score(Ytest, predicted)

0.8494117647058823

In [63]:
import pickle

with open('basic_m.pkl', 'wb') as f:
    pickle.dump(clf, f)

In [64]:
X

,total_night_minutes,number_vmail_messages,total_eve_charge,international_plan,total_day_calls,total_intl_charge
0,254.4,26,16.62,0,123,3.70
1,162.6,0,10.30,0,114,3.29
2,196.9,0,5.26,1,71,1.78
3,186.9,0,12.61,1,113,2.73
4,212.6,24,29.62,0,88,2.03
...,...,...,...,...,...,...
4245,213.7,0,20.72,0,70,2.78
4246,186.2,0,11.15,0,89,3.11
4247,129.1,0,16.41,0,101,1.86
4248,297.5,40,18.96,0,127,2.67
4249,154.8,34,22.70,0,102,2.51